@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 229, 232;
  --background-end-rgb: 255, 255, 255;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  font-family: "Gowun Batang";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

section {
  color: #562b9c;
}

.content-text {
  color: #562b9c;
  background: rgba(255, 255, 255, 0.5);
  background-t: rgb(248, 229, 232);
}
